{% extends "AppBundle::base.html.twig" %}
{% block wide %}
  <h1 class='heading'>Виж ендорсърите на Rexona</h1>   
{% endblock %}
{% block content %}
  {% include "AppBundle:common:_endorsers.html.twig" with endorsers %}
{% endblock %}