{% extends "AppBundle::base.html.twig" %}
{% block wide %}
  <h1 class='heading'>{{endorser.name}}</h1>   
  <div class='fasha widescreen wallpaper' style="background-image: url({{ asset(endorser.image) }})">
    <a href='javascript:;' class='icon-play-button' id='playVideo'></a>
  </div> 
  <div class='endorser-player-wrapper'>
    <div id="endorserPlayer" data-plyr-provider="youtube" data-plyr-embed-id="{{endorser.youtubeId}}"></div>
  </div>
{% endblock %}
{% block content %}
  <div class='small-12 endorser-wrapper'>
    <div class='small-12 statistics text-center'>
      <div class='medium-4 small-12 column float-left strong'>{{endorser.motto}}</div>
      <div class='medium-4 small-12 column float-left'><span class='strong'>15000</span><br> стъпки към  върха днес</div>
      <div class='medium-4 small-12 column float-left'><span class='strong'>150000</span><br> стъпки към върха от началото на  кампанията</div>
    </div>
    <div class='font-20 small-12 medium-8 column endorser-description'>
      {{endorser.description|raw}}
    </div>
    <div class='font-20 small-12 medium-4 column float-right'>
      <div class='small-12 text-center download-banner dark-blue font-30'>
        <div class='small-12'>
          Свали приложението на REXONA и се включи в предизвикателството на Александара!
        </div>
        <div class='small-6 column float-left'><i class='icon-apple'></i></div>
        <div class='small-6 column float-left'><i class='icon-android'></i></div>
      </div>
    </div>
    <div class='more-endorsers small-12'>
      <h1>Още предизвикателства </h1>
      {% include "AppBundle:common:_endorsers.html.twig" %}
    </div>
  </div>
{% endblock %}