<div class='modal' id="apps">
  <a href="javascript:void(0);" class='icon-close'></a>
  <div class='small-12 text-center font-20'>
    <p class='title font-30 strong'> Изтегли app-a</p>
    <p> Включи се в кампанията като <br>изтеглиш любимия ап</p>
    <p><a href='#' class='icon-apple app'></a><a href='#' class='icon-android app'></a></p>
  </div>
</div>