<div class='modal' id="contacts">
  <a href="javascript:void(0);" class='icon-close'></a>
  <div class='small-12 text-center font-20'>
    <p class='title font-30 strong'> За контакти: </p>
    <p> За всякакви въпроси свързани с кампанията, <br> моля пишете ни на: </p>
    <p>
      <a href="mailto:office@move.rexona.bg" class='underline'>email: office@move.rexona.bg</a>
    </p>
  </div>
  <div class='small-12 text-center social-links font-20'>
    <p>Последвайте ни:</p>
    <div class='small-6 column float-left'><a><i class='icon-facebook font-30'></i><span class='underline'>RexonaBulgaria</span> </a></div>
    <div class='small-6 column float-left'><a><i class='icon-instagram font-30'></i><span class='underline'>RexonaBulgaria</span></a></div>
  </div>
</div>