<div class='items-wrapper'>
  {% for e in endorsers %}
    <div class='item medium-4 small-12 float-left column' id='{{loop.index - 1}}'>
      <div class='media-wrapper'>
        <a href="/endorsers/{{e.slug}}">
          <img src="{{ asset(e.image) }}" class='cover-image'>
          <i class='icon-play-button'></i>
          <div id="endorserVideo{{loop.index}}" data-plyr-provider="youtube" data-plyr-embed-id="{{e.previewYoutubeId}}" class='js-player'></div>
        </a>
      </div>
      <div class='text-wrapper'>
        <a href="/endorsers/{{e.slug}}" class='font-30 strong'>{{e.name}}</a>
        <span>{{e.motto}}</span>
      </div>
    </div>
  {% endfor %}
</div>