<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{ asset("bundles/app/css/main.css") }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset("bundles/app/js/main.js") }}"></script>
    <meta property="og:type" content="website"/>
</head>
<body>
<header>
    <div class='row'>
        <div class='small-12 column'>
            <a href="{{ url('app_homepage') }}" class='icon-logo logo'></a>
            <nav>
                <ul class="no-bullet">
                    <li><a href="{{ url('app_homepage') }}" title="">Начало</a></li>
                    <li><a href="javascript:void(0);" class='open-popup' data-open="apps">Изтегли app-а</a></li>
                    <li><a href="{{ url('app_endorsers') }}">Предизвикателства</a></li>
                    <li><a href="{{ url('app_about') }}">За Каузата</a></li>
                    <li><a href="{{ url('app_products') }}">Продукти</a></li>
                    <li><a href="{{ url('app_events') }}">Събития</a></li>
                    <li><a href="{{ url('app_awards') }}">Награди</a></li>
                </ul>
            </nav>
            <div class="hamburger hamburger--elastic float-right">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    </div>
</header>
<div class="main-content {% if class %}{{ class }}{% endif %}">
    {% block wide %}{% endblock %}
    <div class='row'>
        <div class='small-12 column content-wrapper font-20'>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% include "AppBundle:common:_contacts.html.twig" %}
{% include "AppBundle:common:_apps.html.twig" %}
  <footer>
    <div class='row'>
      <div class='small-12 medium-3 column'>
        <a href="javascript:void(0);" class='open-popup' data-open="contacts">Контакти</a>
        <a href="" class='icon-facebook'></a>
        <a href="" class='icon-instagram'></a>
      </div>
      <div class='small-12 medium-3 column text-center'>
        <a href="javascript:void(0);" class='open-popup' data-open="apps">Изтегли app-а</a>
        <a href="" class='icon-apple'></a>
        <a href="" class='icon-android'></a>
      </div>
      <div class='small-12  medium-3 column text-center'>
        <a href="{{ url('app_confidentiality_policy') }}">Политика за поверителност</a>
      </div>
      <div class='small-12 medium-3 column text-right'>
        <a href="{{ url('app_tos') }}">Общи условия</a>
      </div>
    </div>
  </footer>
  {% block javascript %}
    <script type="text/javascript" src="{{ asset("bundles/app/js/jquery-1.11.2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/app/js/TweenMax.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/app/js/plyr.js") }}"></script>
    <link href="{{ asset("bundles/app/css/plyr.css") }}" rel="stylesheet" type="text/css"/>
  {% endblock %}
</body>
</html>