{% extends "V3labsAdminBundle::base.html.twig" %}

{% block page_content %}


    <div class="widget">
        <div class="widget-content">

            <p>
                <a class="btn btn-large btn-primary" type="button" href="{{ url("admin_award_new") }}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавяне
                </a>
            </p>

            {% if not pagination|length %}
                <p class="alert alert-info">Няма записи.</p>
            {% else %}
                <table class="data-grid table table-striped table-hover table-bordered">
                    <tr>
                        <th{% if pagination.isSorted('e.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'ID', 'e.id') }}</th>
                        <th{% if pagination.isSorted('e.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Име', 'e.name') }}</th>
                        <td> </td>
                    </tr>

                    {% for entity in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.name }}</td>
                            <td>
                                <a class="btn btn-default" href="{{ url("admin_award_edit", {"id": entity.id}) }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    Редакция
                                </a>
                                <a class="btn btn-danger" data-href="{{ url("admin_award_delete", {"id": entity.id}) }}" href="#confirm_dialog">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Изтриване
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {{ knp_pagination_render(pagination) }}
            {% endif %}
        </div>
    </div>
{% endblock %}