@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xp1mjf');
  src:  url('fonts/icomoon.eot?xp1mjf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xp1mjf') format('truetype'),
    url('fonts/icomoon.woff?xp1mjf') format('woff'),
    url('fonts/icomoon.svg?xp1mjf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e904";
  color: #1b2e5a;
}
.icon-android:before {
  content: "\e900";
}
.icon-apple:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
