{% extends "AppBundle::base.html.twig" %}
{% block wide %}
  <div class='fasha light-blue text-center'>
    <i class='icon-logo'></i>
    <p>Дездорант №1 в света</p>
  </div> 
  <h1 class='heading'>НАШИТЕ ПРОДУКТИ</h1>   
{% endblock %}
{% block content %}
  <div class='products-wrapper small-12'>
    <div class='product medium-6 small-12 float-left column'>
      <div class='image-wrapper wallpaper' style="background-image: url({{ asset("bundles/app/images/temp/women.jpg") }})">
        <div class='overlay'></div>
        <a href="/products/women" class='button'>за жени</a>
      </div>
    </div>
    <div class='product medium-6 small-12 float-left column'>
      <div class='image-wrapper wallpaper' style="background-image: url({{ asset("bundles/app/images/temp/men.jpg") }})">
        <div class='overlay'></div>
        <a href="/products/men" class='button'>за  мъже</a>
      </div>
    </div>
  </div>
{% endblock %}