{% extends "AppBundle::base.html.twig" %}
{% block wide %}
  <div class='fasha widescreen wallpaper product-wall' style="background-image: url({{ asset(image_path) }})">
    <div><span>Women</span> <br>Get up. Get moving.</div>
  </div> 
  <h1 class='heading'>НАШИТЕ ПРОДУКТИ</h1>
{% endblock %}
{% block content %}
<div class='items-wrapper products'>
  {% for i in 1..6 %}
    <div class='item medium-4 small-12 float-left column'>
      <div class='image-wrapper wallpaper' style="background-image: url({{ asset("bundles/app/images/temp/product#{i}.png") }})"></div>
      <div class='text-wrapper'>
        <h2>Women Shower Clean Clinical Protection Antiperspirant  copy</h2>
        <span>Deodorant Aerosol 180ml copy</span>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}