{% extends "V3labsAdminBundle::base.html.twig" %}

{% block page_content %}
    <ul class="breadcrumb">
        <li><a href="{{ url("admin_users") }}">Потребители</a></li>
        <li class="active">{{ entity.id ? "Редакция" : 'Добавяне' }}</li>
    </ul>

    <div class="widget">

        <div class="widget-content">

            {% form_theme form "V3labsAdminBundle:common:form_layout.html.twig" _self %}
            <form method="post" action="" novalidate="novalidate">

                <div class="row">
                    {{ form_errors(form) }}

                    <div class="col-lg-6">
                        {{ form_row(form.name) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                    </div>
                </div>

                {{ form_rest(form) }}

                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>
                    Запазване
                </button>
            </form>
        </div>
    </div>
{% endblock %}