{% extends "AppBundle::base.html.twig" %}
{% block wide %}
  <h1 class='heading'>Събития</h1>   
{% endblock %}
{% block content %}

<div class='items-wrapper'>
  {% for i in 1..6 %}
    <div class='item medium-4 small-12 float-left column'>
      <div class='image-wrapper wallpaper' style="background-image: url({{ asset("bundles/app/images/temp/event#{i}.jpg") }})"></div>
      <div class='text-wrapper'>
        <h2>Sofia Open 2019</h2>
        <span>НДК Соафия</span><br>
        <time>03.02.2019</time>  
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}