{% extends "V3labsAdminBundle::base.html.twig" %}

{% block page_content %}
    <ul class="breadcrumb">
        <li><a href="{{ url("admin_endorsers") }}">Награди</a></li>
        <li class="active">{{ entity.id ? "Редакция" : 'Добавяне' }}</li>
    </ul>

    <div class="widget">

        <div class="widget-content">

            {% form_theme form "V3labsAdminBundle:common:form_layout.html.twig" _self %}
            <form method="post" action="" novalidate="novalidate">

                <div class="row">
                    {{ form_errors(form) }}

                    <div class="col-lg-12">
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.motto) }}
                        {{ form_row(form.youtube_id) }}
                        {{ form_row(form.preview_youtube_id) }}
                        

                        <div class="form-group form-image">
                            {{ form_label(form.image) }}
                            <div class="preview">
                                <a href="javascript:;" class="remove btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-remove"> </span>
                                </a>
                                {% if form.image.vars.data %}
                                    <img src="{{ form.image.vars.data }}" />
                                {% endif %}
                            </div>
                            <a href="javascript:;" class="browse btn btn-default btn-sm">Choose File</a>
                            {{ form_widget(form.image, { attr: { "class": "image-url" } }) }}
                            <div id="rotator">
                                <i rotation="right" class="rotate-image-form right-5 fa fa-share" obj="1" style="font-size:36px;color:green;"></i>
                                <span class="sr-only">Loading...</span>
                                <i rotation="left" class="rotate-image-form left-5 fa fa-reply" obj="1" style="font-size:36px;color:green;"></i>
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}

                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>
                    Запазване
                </button>
            </form>
        </div>
    </div>
{% endblock %}