{% extends "V3labsAdminBundle::base.html.twig" %}

{% block page_title %}
    Добре дошли в системата за управление на съдържание!
{% endblock %}

{% block page_content %}
    <div class="widget">
        <div class="widget-content">
            От навигацията вдясно може да изберете секция, в която да работите.
        </div>
    </div>
{% endblock %}