{% extends "V3labsAdminBundle::base.html.twig" %}

{% block body %}

    <form method="post" action="" novalidate="">

        {{ form_widget(form) }}

        <div class="form-submit">
            <button type="submit">Създаване на администратор</button>
        </div>
    </form>

{% endblock %}