<div id="nav">
    <ul>
        {% for key, section in sections %}
            <li {% if current_section == key %}class="active"{% endif %}>
                <a href="{{ url(section.route) }}">{{ section.title }}</a>
            </li>
        {% endfor %}
        {% if file_manager is defined and file_manager %}
            <li>
                <a href="#" class="file-manager">File manager</a>
            </li>
        {% endif %}
    </ul>
</div>