{% for type in ['info', 'success', 'danger', 'info'] %}
    {% if app.session.flashbag.has(type) %}
        <div class="alert alert-{{ type }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for message in app.session.flashbag.get(type) %}
                {{ message }}<br />
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}