{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
    {% spaceless %}
        {% if label is not empty %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ label|trans({}, translation_domain) }}{% if required %}<span class="required">*</span>{% endif %}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}


{% block form_widget_simple %}
    {% spaceless %}
        {% set attr = attr|merge({ "class": (attr.class is defined ? attr.class : "") ~ " form-control" }) %}
        {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({ "class": (attr.class is defined ? attr.class : "") ~ " form-control" }) %}
        {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({ "class": (attr.class is defined ? attr.class : "") ~ " form-control" }) %}
        {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="choice">
                    {{ form_widget(child) }}
                    {{ form_label(child, {}, { "required": false }) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}