{#{% block v3labs_admin_datetime_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-lg-{{ form.time is defined ? 6 : 12 }}">
                {{ form_widget(form.date, { "attr" : { "data-value": form.date.vars.data } + form.date.vars.attr }) }}
            </div>

            {% if form.time is defined %}
                <div class="col-lg-6">
                    {{ form_widget(form.time, { "attr" : { "data-value": form.time.vars.data } + form.time.vars.attr }) }}
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}#}