@font-face {
  font-family: 'HelveticaNeue_Roman';
  src: url('../fonts/helvetica_neue/helveticaNeue_LT_CYR_55_Roman.ttf');
  src: url('../fonts/helvetica_neue/helveticaNeue_LT_CYR_55_Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue_Medium';
  src: url('../fonts/helvetica_neue/helveticaNeue_LT_CYR_65_Medium.ttf');
  src: url('../fonts/helvetica_neue/helveticaNeue_LT_CYR_65_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue_Cond';
  src: url('../fonts/helvetica_neue/helveticaNeue_LT_CYR_57_Cond.ttf');
  src: url('../fonts/helvetica_neue/helveticaNeue_LT_CYR_57_Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue_BoldCn';
  src: url('../fonts/helvetica_neue/helveticaNeue_LT_CYR_77_BoldCn.ttf');
  src: url('../fonts/helvetica_neue/helveticaNeue_LT_CYR_77_BoldCn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?xp1mjf');
  src:  url('../fonts/icomoon/icomoon.eot?xp1mjf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?xp1mjf') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?xp1mjf') format('woff'),
    url('../fonts/icomoon/icomoon.svg?xp1mjf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e904";
}
.icon-play-button:before {
  content: "\e905";
}
.icon-android:before {
  content: "\e900";
}
.icon-apple:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e90f";
}

/*==============GRID*=================*/
.column {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.small-12 {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.small-6 {
  width: 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
@media print, screen and (min-width: 64em) {
  .large-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
  }
  .large-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
  }
}
@media print, screen and (min-width: 40em) {
  .medium-9 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%;
  }
  .medium-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    width: 66.66666%;
  }
  .medium-6 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
  .medium-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
  }
  .medium-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;
  }
  .medium-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
  } 
}

div, ul {margin: 0;padding: 0;}
.float-left {float: left !important;}
.float-right {float: right !important ;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.column {
  flex: 1 1 0px;
  padding-right: 0.925rem;
  padding-left: 0.925rem;
  min-width: initial;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
* {
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.font-20 {font-size:20px;}
.font-30 {font-size:30px;}
*[class*='font-'] {line-height: 1.25;}
i[class*='font-'] {line-height: 1;}
@media print, screen and (max-width: 640px) {
  .font-20 {font-size:16px;}
  .font-30 {font-size:24px;}
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: 'HelveticaNeue_Cond', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #1b2e5a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row {
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

a {
  color: #1b2e5a;
  cursor: pointer;
  text-decoration: none;
  webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
  opacity:1;
}
a:hover {opacity: 0.8;}
p {margin-top: 0;line-height: 1;}

h1, h2, h3, h4, h5, h6 {
  font-family:"HelveticaNeue_BoldCn",  Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 36px;
  text-align: center;
  line-height: 1;
}
.heading {
  box-shadow: 3.5px 6.062px 10px rgba(19,20,25,0.13); 
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 35px 0 30px;
  text-transform: uppercase;
  width: 100%;
}
.button {
  border: 1px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 48px;
  line-height: 1;
  padding: 15px 30px 10px;
  text-transform: uppercase;
}
.wallpaper {
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;
}
.strong {
  font-family:"HelveticaNeue_BoldCn";
  font-weight:bold;
}
ul.no-bullet {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.no-bullet li{
  float: left;
}
header{
  background: #ececec;
  padding: 10px 0;
  position: relative;
}
header a.logo {
  color: #1b2e5a;
  float: left;
  font-size: 60px;
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
}
header nav{
  float: right;
  width: 100%;
}
header nav ul {
  overflow: hidden;
  float: initial;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 auto !important;
  display: table;
}
header nav ul li:nth-child(3){
  padding-right: 50px;
}
header nav ul li:nth-child(4){
  padding-left: 50px;
}
header nav ul li a {
  color: #1b2e5a;
  font-size: 20px;
  line-height: 60px;
  display: inline-block;
  padding: 0px 1rem;
  text-transform: uppercase;
}
.hamburger {
  padding: 15px 0px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #1b2e5a;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #1b2e5a;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.content-wrapper {
  font-family:"HelveticaNeue_BoldCn",  Roboto, Helvetica, Arial, sans-serif;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.content-wrapper p {
  margin-bottom: 25px;
}
.homepage .content-wrapper {padding-top: 50px;}

#bannerAreaWrap {
  font-family: "HelveticaNeue_BoldCn", Roboto, Helvetica, Arial, sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
#bannerAreaWrap, #homeVideoWrap{
  display: none;
}
.homepage .plyr__controls {
  display: none !important;
}
.homepage .bannerArea{
  padding-top: 52.5%;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}
.homepage .home-banner > * {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  opacity: 0;
} 
.homepage .home-banner > img#peak {
  top: 20px;
}
.homepage .home-banner > img#slogan {
  top: -20px;
  width: 14%;
  left: auto;
  right: 0;
}
.homepage .home-banner > div#text {
  bottom: 0;
  font-size: 38px;
  line-height: 1;
  top: auto;
  text-align: center;
  width: 100%;  
}
.homepage .home-banner > div#counter {
  top: 0;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  width: 100%;  
}
.homepage .home-banner > div#counter span{
  color: #44cc65;
  font-size: 115px;
}
.homepage .home-banner > *[id*='endorser'] {top: -10px;}
.dark-blue {
  background-color: #1b2e5a;
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;
}
.dark-blue > * {
  color: #fff;  
}
.dark-blue h1 {
  background-color: #1b2e5a;
}
.topology {
  background-image: url('../images/topology.png'); 
}
.light-blue {
  background-color: #4996d2;
}
.items-wrapper {
  padding: 20px 50px;
  overflow: hidden;
}
.items-wrapper .item{
  padding: 5px;
  box-shadow: 6px 10.392px 27px rgba(20,21,25,0.11);
  margin:0; 
  text-align: center;
}
.items-wrapper .item > * {
  line-height: 1.25;
} 
.items-wrapper .item h2{ 
  margin: 0 0 10px 0;
  font-size: 26px;
}
.items-wrapper .item span, .items-wrapper .item time {
  font-size: 18px;
} 
.items-wrapper .item .media-wrapper {
  padding-top: 75%;
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px; 
}
.items-wrapper .item .media-wrapper a > *{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: none;
  transition: width .5s .3s;
}
.items-wrapper .item .media-wrapper .plyr__controls {
  display: none !important;
}
.items-wrapper .item .media-wrapper a img {
  z-index: 2;
  height: 100%;
  min-width: 100%;
  width: auto;
}
.items-wrapper .item .media-wrapper a i {
  color: white;
  font-size: 72px;
  z-index: 5;
}
.items-wrapper .item .media-wrapper a img:hover{
  min-width: 105%;
}
.items-wrapper .item .image-wrapper{
  padding-top: 75%;
}
.items-wrapper.products .item .image-wrapper{
  background-color: #ffffff;  
}
.items-wrapper .item .text-wrapper{
  background-color: #fff;
  color: #1b2e5a;
  display: inline-block;
  line-height: 1.1;
  min-height: 145px;
  padding: 25px 15px;
  width: 100%;
  border-bottom-right-radius: 5px; 
  border-bottom-left-radius: 5px; 
}
.items-wrapper.products .item .text-wrapper{
  background-color: #b3b8c6;  
}

.items-wrapper .item .text-wrapper a{
  display: block;
  margin: 0 0 10px 0;
}
.fasha {
  color: #fff;
  font-family:"HelveticaNeue_BoldCn";
  padding: 80px 15px; 
  position: relative;
  text-transform: uppercase;
}
.fasha.homepage {
  padding-top: calc(100vh - 162px);
}

.endorser-player-wrapper .plyr__video-embed{padding-bottom: 33% !important;min-height: 360px;}

.fasha.widescreen {
  padding-top: 25%;
  min-height: 360px;
}
.fasha.about {
  background-image: url('../images/temp/about.jpg'); 
  padding-top: 25%;
}
.fasha > .icon-play-button {
  color: #ffffff;
  font-size: 180px;
  left: 50%;
  opacity: .40;
  position: absolute;
  top: 50%;
  transform:translate(-50%, -50%);
}

.fasha .icon-logo{ 
  font-size: 200px;
}
.fasha p {
  font-size: 50px;
  margin: 60px 0 0;
}
.product-wall > *{
  font-size: 50px;
  left: 50%;
  line-height: 1;
  margin-top: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  transform:translate(-50%, -50%);
}
.product-wall > div span {
  font-size: 100px;
}
.products-wrapper .product{
  position: relative;
  margin: 15px 0;
}
.products-wrapper .product .overlay{
  background-color: rgba(123,123,123,0.56);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.products-wrapper .product .button {
  left: 50%;
  position: absolute;
  top: 50%;
  transform:translate(-50%, -50%);
}
.products-wrapper .image-wrapper{
  padding-top: 70%;
  position: relative;
}
.prizes-wrapper .prize{
  color: #4996d2;
  position: relative;
  margin: 15px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.prizes-wrapper .prize > p + p {color: #ffffff;}
.prizes-wrapper .image-wrapper{
  background-color: #ffffff;
  background-size: 80%;
  margin-top: 80px;
  padding-top: 100%;
  position: relative;
}
.prizes-wrapper .image-wrapper > * {
  position: absolute;
}
.prizes-wrapper .image-wrapper > p {
  bottom: 100%;
  color: #ffffff;
  line-height: 1;
  margin: 0 0 15px 0;
  width: 100%;
}
.prizes-wrapper .image-wrapper > span {
  border-radius: 50px;
  color: #ffffff;
  display: inline-block;
  font-family: 'HelveticaNeue_Cond';
  font-size: 24px;
  height: 100px;
  line-height: 100px;
  top: 15%;
  right: 10%;
  text-align: center;
  width: 100px;
}
.prizes-wrapper .image-wrapper > span > span {
  font-family: 'HelveticaNeue_BoldCn';
}
.prizes-wrapper .text-wrapper{
  background-color: #fffff4;
  font-family: 'HelveticaNeue_Cond';
  font-size: 24px;
  line-height: 1.25;
  padding: 25px 30px;
  text-transform: initial;
  text-decoration: underline;
}
.statistics {
  display: block;
  margin-bottom: 80px;
  overflow: hidden;
}
.statistics > div {
  font-size: 20px;
  line-height: 1.25;
  padding: 15px 20px;
  font-family: 'HelveticaNeue_Cond';
}
.statistics > div:nth-of-type(1) {
  font-size: 30px;
}
.statistics > div:nth-of-type(2) {
  border-left: 1px solid #1b2e5a;
  border-right: 1px solid #1b2e5a;
}
.statistics > div span {
  font-size: 45px;
}
.endorser-description p {
  text-indent: 50px;
  margin-bottom: 40px;
  line-height: 1.25;
}
.download-banner {
  color: #fff;
  line-height: 1.25;
  overflow: hidden;
  padding:45px;
} 
.download-banner > div:nth-of-type(1){
  margin-bottom: 60px;
}
.download-banner i{ 
  font-size: 80px;
}
.endorser-wrapper .more-endorsers {
  padding-top: 80px;
  overflow: hidden;
}
.more-endorsers {
  display: block;
  position: relative;
  overflow: hidden;
}
.modal-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  top: 0;
  z-index: 999;
}
.modal {
  display: none;
  background-color: #1b2e5a;
  position: fixed;
  color: #ffffff;
  box-shadow: 3.5px 6.062px 10px rgba(19,20,25,0.13);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 80px;
  overflow-y: auto;
  width: 50%;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  max-width: 640px;
  z-index: 1006;
}
.modal.is-active {
  display: block;
}
.modal > a {
  color: #ffffff;
}
.modal .title {
  text-transform: uppercase;
}
.modal .underline {
  text-decoration: underline;
}
.modal p {line-height: 1.25;}
.modal a {
  color: #ffffff;
}
.modal .social-links a i {
  text-decoration: none;
  margin-right: 20px;
}
.modal .social-links a span {
  vertical-align: super;
}
.modal .icon-close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 25px;
}
.modal#apps a.app {
  margin: 20px;
  font-size: 45px;
}
.responsive-embed {
  display: none;
  position: relative;
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: calc(25% + 80px);
  overflow: hidden;
}
.responsive-embed > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-embed.homepage {
  padding-bottom: calc(100vh - 84px);
}

@media only screen and (max-width: 60rem){ 
  .prizes-wrapper .prize{ 
    font-size: 24px;
  }
  .prizes-wrapper .image-wrapper{
    margin-top: 60px; 
  }
  .prizes-wrapper .image-wrapper > span {
    font-size: 18px;
    height: 80px;
    width: 80px;
    line-height: 80px;
  }
  .prizes-wrapper .text-wrapper{
    font-size: 16px;
  }
}

.about-wrapper .slogan-wrapper {
  background-color: #1b2e5a;
  margin: auto;
  display: table;
  padding: 60px 40px;
}
.about-wrapper .text-wrapper {
  font-size: 18px;
}
.about-wrapper .text-wrapper > p {
  text-transform: uppercase;
  font-size: 30px;
} 

footer {
  background-color: #1b2e5a;
  box-shadow: 2.5px 4.33px 35px rgba(21,22,26,0.38);
  padding: 20px 0;
}
footer a { 
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

@media print, screen and (max-width: 1024px) {
  header nav {
    background-color: #fff;
    box-shadow: 3.5px 6.062px 10px rgba(19,20,25,0.13);
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 9;
    width: 100%;
    display: none;
  }
  header nav li {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0 !important;
  }
  header nav ul li a{
    font-size: 16px;
    line-height: 1.25;
    padding: 0px 15px;
  }
  .hamburger { 
    display: inline-block;
  }
  .fasha  > .icon-play-button {
    font-size: 90px;
  }
  footer .row > div { 
    text-align: left !important;
    flex: auto;
  }
  footer a { 
    font-size: 16px;
  }
}
@media print, screen and (max-width: 64em) {
  .homepage .home-banner > div#text {
    font-size: 22px;
  }
  .homepage .home-banner > div#counter {
    font-size: 22px;
  }
  .homepage .home-banner > div#counter span{  
    font-size: 48px;
  }
}
@media print, screen and (max-width: 40em) {
  h1 {
    font-size: 28px;
  }
  #bannerAreaWrap {padding-top: 25px;padding-bottom: 0;}
  .homepage .content-wrapper {
    padding-top: 25px;
  }
  .modal {
    width: 100%;
    max-width: auto;
    left: 0;
    top: 82px;
    padding: 60px 15px;
    transform:translate(0%, 0%);
  }
  .endorser-description p {
    text-indent: 25px;
    margin-bottom: 20px;
  }
  .statistics > div:nth-of-type(2) {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid #1b2e5a;
    border-bottom: 1px solid #1b2e5a;
  }
  .fasha  > .icon-play-button {
    font-size: 60px;
  }
  .items-wrapper {
    padding: 0;
  }
  .items-wrapper .item .text-wrapper {
    padding: 5px 15px 20px;
  }
  .button {font-size: 25px;}
  .homepage .home-banner{
    padding-top: 100%;
  }
  .homepage .home-banner .large-mobile {
    max-width: 200%;
  }
  .homepage .home-banner > img#slogan {
    bottom: 75px;
    left: 40%;
    top: auto;
    width: 20%;
  }
  .homepage .home-banner > div#text {
    font-size: 18px;
  }
  .homepage .home-banner > div#counter {
    font-size: 18px;
  }
  .homepage .home-banner > div#counter span{  
    font-size: 40px;
  }
}