{% extends "V3labsAdminBundle::base.html.twig" %}

{% block body %}

    <form id="login" action="{{ path('_admin_login_check') }}" method="post">
        <fieldset>
            <legend>Login</legend>

            {% if error %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ error.message }}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" class="form-control" />
            </div>

            <input type="hidden" name="_target_path" value="{{ url('_admin_home') }}" />


            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember-me" name="_remember_me" />
                    remember me
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
    </form>
{% endblock %}