{% extends "AppBundle::base.html.twig" %}
{% block wide %}
  <div class='fasha dark-blue topology text-center'>
    <i class='icon-logo'></i>
  </div> 
  <h1 class='heading'>награди</h1>   
{% endblock %}
{% block content %}
  <div class='prizes-wrapper small-12 text-center'>
    {% for award in awards %}
      <div class='prize medium-4 small-12 float-left column'>
        <p class='title'>{{award_labels[loop.index - 1]}} награда</p>
        <div class='image-wrapper wallpaper' style="background-image: url({{ asset(award.image) }})">
          <img src="" data-prize-img>
          <p>{{award.name}}</p>
          <span class='dark-blue'><span>{{award.number}}</span> броя</span>
  
        </div>
        <div class='text-wrapper'>
          <span>{{award.description}}</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}