{% extends "AppBundle::base.html.twig" %}
{% block wide %}
    <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="PQQiGiewOE8"></div>
    <div id='bannerAreaWrap'>
        <div class='row'>
            <div class='small-12 column'>
               <div  class='small-12 bannerArea'>
                  <div class='home-banner'>
                     <img src="{{ asset("bundles/app/images/animation/peak.png") }}" id='peak'  class='large-mobile'> 
                     <img src="{{ asset("bundles/app/images/animation/path.png") }}" id='path'  class='large-mobile'> 
                     <img src="{{ asset("bundles/app/images/slogan.png") }}" id='slogan'> 
                     <div id='counter'><span>165800</span><br>стъпки направиха българите към върха</div>
                     <img src="{{ asset("bundles/app/images/animation/text.png") }}" > 
                     <img src="{{ asset("bundles/app/images/animation/endorser1.png") }}" id='endorser1' class='large-mobile'> 
                     <img src="{{ asset("bundles/app/images/animation/endorser2.png") }}" id='endorser2' class='large-mobile'> 
                     <img src="{{ asset("bundles/app/images/animation/endorser3.png") }}" id='endorser3' class='large-mobile'> 
                     <img src="{{ asset("bundles/app/images/animation/endorser4.png") }}" id='endorser4' class='large-mobile'> 
                     <img src="{{ asset("bundles/app/images/animation/endorser5.png") }}" id='endorser5' class='large-mobile'> 
                     <img src="{{ asset("bundles/app/images/animation/endorser6.png") }}" id='endorser6' class='large-mobile'> 
                     <div id='text'>ВКЛЮЧИ СЕ СЕГА! ИЗТЕГЛИ АПА И ОБЕДИНИ СИЛИ С ПРИЯТЕЛИ!</div>
                  </div>
               </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}

   <div class='more-endorsers small-12'>
      <h1>Предизвикателства </h1>
      {% include "AppBundle:common:_endorsers.html.twig" %}
   </div>
{% endblock %}