{% extends "AppBundle::base.html.twig" %}
{% block wide %}
  <h1 class='heading'>Общи условия</h1>   
{% endblock %}
{% block content %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
{% endblock %}